body {
  margin: 0;
  overflow-y: hidden;
  background-color: #f5f7fb;
}

li{
  list-style-type: none;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.input {
  padding: 0.75rem 1.5rem;
  width: 210px;
  font: inherit;
  text-align: left;
  margin-bottom: 1.5rem;
  border: 1px solid;
  border-radius: 4px;
  font-size: 15px;
  margin: 1 1rem;
}

.registration {
  margin-top: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: rgb(249,242,184);
  background: linear-gradient(155deg, rgba(249,242,184,1) 38%, rgba(245,108,15,1) 87%, rgba(129,51,15,1) 97%);
  padding: 2rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
