.itemStyling {
  background-color: #8bd2f6;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
  height: fit-content;
  word-break: break-word;
  border-top-left-radius: 0;

}

.itemStylingAlt {
  background-color: #f5f7fb;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
  height: fit-content;
  word-break: break-word;
  border-top-left-radius: 0;
}

.container {
  display: flex;
  padding: 10px;
}

.icon1 {
    text-align: center;
    border-radius: 50%;
    background-color: #8bd2f6;
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding: 20px;
    font-style: normal;
    vertical-align: middle;
}

.icon2 {
  text-align: center;
  border-radius: 50%;
  background-color: #f5f7fb;
  color: rgb(0, 0, 0);
  font-size: 12px;
  padding: 20px;
  font-style: normal;
  vertical-align: middle;
}

.time{
	font-size: small;
	text-align: center;
}

.nameHeader{
  text-align: center;
}


