.containerLogin {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(/src/components/images/gradienta-oPC-b39ZuzE-unsplash.jpg);
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  border-radius: 5px;
  box-sizing: 5px;
  margin-bottom: 40vh;
}

.input {
  padding: 0.75rem 1.5rem;
  width: 300px;
  font: inherit;
  text-align: left;
  border: 1px solid;
  border-radius: 4px;
  font-size: 15px;
  margin: 0.75rem 1rem;
}

.buttonGrid {
  margin-top: 1rem;
}

.center {
  padding: 2rem;
  width: 150px;
  height: 150px;
  padding-left: 12rem;
}
